<html>
    <head>
        <title>Todo List</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>

<body>
    <div class="container">
    {% block content %}
    <form action="index" method="POST">
        {%csrf_token %}
        <label>Title:</label><br>
        <input type="text" name="title"><br>
        <label>Description</label><br>
        <textarea rows = "5" cols = "60" name = "Description">
            
         </textarea><br>
         <input type="submit" value="Add Todo Item">
    </form>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        {% for i in list %}
        <tr>
        <td>{{i.title}}</td>
        <td> {{i.Description}}</td>
        </tr>
        {% endfor %}
        </tbody>
        
    </table>
</body>
{% endblock %}
</html>